@model JavaScriptDemo.Models.DemoModel

@{
    ViewBag.Title = "FormDemo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FormDemo</h2>

@using (Html.BeginForm("FormDemo", "Demo")){


<p>Name: @Html.TextBox("name")
<input type="submit" value="Submit" />
<br/>
</p>
<div id="result">@ViewBag.Message</div>
<div id="greeting"></div>
}
<button id="ajax">Ajax!</button>

<div>
    <p>
        Temperature in Celcius: @Html.TextBox("temp")
        <button id="convert">Convert to Farenheit!</button>
        <span id="tempResult"></span>
    </p>   
</div>

<script src="../../Scripts/jquery-1.8.3.js" type="text/javascript"></script>
<script src="../../Scripts/Demo.js" type="text/javascript"></script>